*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(217, 54%, 11%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Outfit',sans-serif;
    font-weight: 300, 400, 600;
}

.container{
    background-color: hsl(216, 50%, 16%);
    width: 400px;
    height:670px ;
    border-radius: 15px;
    
}


.container .sora .asasy{
    width: 350px;
    height: 350px;
    margin: 25px;
    border-radius: 10px;
}
.div{
    background-color: hsl(178, 100%, 50% , 60%);    
    z-index: 1;
    position: absolute;
    transform: translate(25px,-380px);
    text-align: center;
    width: 350px; 
    height: 350px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.div:hover{
    opacity: 1;
    cursor: pointer;
}

.content{
    width: 80%;
    height: 40px;
    margin-top:50px ;
}
.container .content h2{
    color: #fff;
    margin-left: 25px;
    position: relative;
    bottom: 50px;
}

.container .content h2:hover{
    color: cyan;
    cursor: pointer;
}

.container .content p{
    margin-left: 25px;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    position: relative;
    bottom:30px ;
}

.avatar img{
    width: 40px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 180px;
    margin-left: 25px;
}

.line-con{
    margin: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid  hsl(215, 51%, 70%);
    
}


.line-con .diamnd{
    color: hsl(178, 100%, 50%);
   
    
}
.line-con .diamnd::before{
    content: url(icon-ethereum.svg);
    margin-right: 5px;
}


.line-con .clock{
    color:hsl(215, 51%, 70%) ;
}

.line-con .clock::before{
    content: url(icon-clock.svg);
}


.avatar{
    display: flex;
}

.avatar p{
    transform: translateY(10px);
    margin-left: 10px;
    color: #fff;
}

.sou{
    color:hsl(215, 51%, 70%)  ;
}

.fox:hover{
    color: cyan;
    cursor: pointer;
}